<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196072603337-dd12hip1d9pikpqdtklicuhajqn80jo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196072603337-dd12hip1d9pikpqdtklicuhajqn80jo7</string>
	<key>API_KEY</key>
	<string>AIzaSyCggkUm2imHem5mTkMCGYy1SVBDwXOvfJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>196072603337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.campingcomfort.app</string>
	<key>PROJECT_ID</key>
	<string>camping-comfort</string>
	<key>STORAGE_BUCKET</key>
	<string>camping-comfort.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196072603337:ios:eedde23a75ebb7cc</string>
	<key>DATABASE_URL</key>
	<string>https://camping-comfort.firebaseio.com</string>
</dict>
</plist>